#imagebg{
    background: linear-gradient(180deg,#4338ca 0%,rgba(50,3,237,0.37)100%);
}
#sks{
    display: none;
}
#userdt{
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
@keyframes animation{
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}